.body {
  margin: 0;
  column-gap: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

h4 {
  font-size: 64px;
  font-family: Calibri;
  position: absolute;
  width: 485px;
  height: 174px;
  left: 121px;
  top: 100px;
}

.encabezado {
  height: 120px;
  background: #8e2121;
  display: flex;
  align-items: center;
  padding-right: 60px;
  padding-left: 20px;
}

.encabezadoChild {
  display: flex;
  font-size: 24px;
  font-family: sans-serif;
  gap: 30px;
}

.titulo {
  font-family: Calibri;
  color: white;
  display: flex;
  order: -1;
  flex-grow: 1;
}

.encabezadoAbajo {
  height: 120px;

  padding-left: 20px;
  background: #8e2121;

  display: flex;
  flex-direction: column;
}

#textoInicio {
  position: absolute;
  width: 440px;
  height: 80px;
  left: 121px;
  top: 347px;
}
#contacto2 {
  color: white;
}
#instagram {
  position: relative;
  width: 40px;
  height: 40px;
}
#linkedin {
  position: relative;
  width: 34px;
  height: 34px;
}

#CV {
  position: absolute;
  width: 151px;
  height: 43px;
  left: 120px;
  top: 453px;
  font-family: Calibri;
  font-size: 30px;
}
#portfolio {
  position: absolute;
  width: 191px;
  height: 43px;
  left: 300px;
  top: 453px;
  font-family: Calibri;
  font-size: 30px;
}
.formulario input {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
}

.formulario {
  font-family: Calibri;
  padding: 20px;
}

.formulario input[type="submit"] {
  background-color: #8e2121;
}
