body {
  margin: 0;
}

h4 {
  font-size: 64px;
  font-family: Calibri;
  position: absolute;
  width: 485px;
  height: 174px;
  left: 121px;
  top: 100px;
}

.encabezado {
  height: 120px;
  background: #8e2121;
  display: flex;
  align-items: center;
  padding-right: 60px;
  padding-left: 20px;
  justify-content: flex-end;
}

.encabezadoChild {
  display: flex;
  font-size: 24px;
  font-family: sans-serif;
  gap: 30px;
}

.titulo {
  font-family: Calibri;
  color: white;
  display: flex;
  order: -1;
  flex-grow: 1;
}

.encabezadoAbajo {
  position: absolute;
  width: 100%;
  height: 141px;
  left: 0px;
  top: 583px;
  background: #8e2121;
}

#textoInicio {
  position: absolute;
  width: 440px;
  height: 80px;
  left: 121px;
  top: 347px;
}
#contacto2 {
  position: absolute;
  width: 215px;
  height: 77px;
  left: 49px;
  top: 610px;
  color: white;
}
#instagram {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 87px;
  top: 662px;
}
#linkedin {
  position: absolute;
  width: 34px;
  height: 34px;
  left: 49px;
  top: 660px;
}

#CV {
  position: absolute;
  width: 151px;
  height: 43px;
  left: 120px;
  top: 453px;
  font-family: Calibri;
  font-size: 30px;
}
#portfolio {
  position: absolute;
  width: 191px;
  height: 43px;
  left: 300px;
  top: 453px;
  font-family: Calibri;
  font-size: 30px;
}
